/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-color);
  line-height: normal;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  font-variation-settings: 'wght' var(--card-font-weight);
}

.header {
  padding-block: 100px;
}

.container {
  margin: 0 auto;
  inline-size: var(--card-inline-size, min(100%, 700px));
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--main-color);
  padding-block: clamp(120px, 10vw, 136px) 23px;
  font-family: var(--font-minor), fantasy;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  margin-block-start: -5px;
}

.header__title {
  margin-block-start: 15px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-end: 109px;
}

.article {
  margin-block-end: 50px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.article__title {
  padding-inline: 10px;
  padding-block: 4.5px 3.5px;
  font-weight: 700;
  font-size: var(--main-font-size, 1.125rem);
  line-height: normal;
  font-variation-settings: 'wght' var(--card-title-font-weight, 700);
}

.article__container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  font-size: var(--main-font-size, 1.125rem);
  line-height: 1.16667;
}

.article__text {
  margin-block-start: 3px;
}

.article__text-margin {
  margin-block-start: 0;
}

.article__memories {
  margin-block-start: 27px;
}

.article__img-element {
  position: relative;
  border-block: 2px solid var(--main-color);
}

.article__img {
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  inline-size: 100%;
  block-size: 100%;
}

.article__img-label {
  position: absolute;
  font-family: var(--font-minor), monospace;
  font-size: var(--minor-font-size);
  color: var(--main-color,);
  text-transform: uppercase;
  text-shadow: -1px 0 white, 
               0 1px white, 
               1px 0 white, 
               0 -1px white;
  inset-block-start: 27px;
  inset-inline-end: 25px;
  opacity: 0.5;
}

@supports ((-webkit-text-stroke: 1px var(--bg-color)) or (text-stroke: 1px var(--bg-color))) {
  .article__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.article__container-button {
  display: flex;
  margin-inline: auto 0;
  margin-block-start: 25px;
  max-block-size: 38px;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  cursor: pointer;
  margin-inline-end: 1px;
  display: flex;
  padding: 0;
  width: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.card__like-button {
  inline-size: 130px;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--heart-hover);
  transition-duration: 0.1s;
}

.core {
  fill: transparent;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.like-icon {
  width: 39px;
  height: 36px;
  align-items: center;
}

.like-icon .core {
  fill: #ffffff;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: #ffffff;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--heart-hover);
  transition: fill 0.1s linear;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--heart-hover);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-hover);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s ease-in 0.3s 1 alternate;
}

.button {
  position: relative;
  padding: 0;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  transform-origin: left center;
  transform: scaleX(0);
}

.button:hover::after {
  transform: scale(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
  transition-duration: 0.3s;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--font-minor), monospace;
  font-size: var(--minor-font-size);
  line-height: 0.9;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button-save {
  width: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-block: 15px;
  margin-block-end: 100px;
} 

.modal__button {
  width: 293px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 15px;
  text-transform: uppercase;
  height: 38px;
}

.modal__content {
  display: flex;
}

.icon-svg {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  inline-size: var(--icon-svg-size);
  block-size: var(--icon-svg-size);
  mix-blend-mode: difference;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 30px;
  color: var(--main-color);
  font-family: var(--font-minor), monospace;
  font-size: var(--minor-font-size);
  line-height: 1.5;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.modal__title {
  font-size: var(--minor-font-size);
  line-height: 1.5;
  max-inline-size: 234px;
}

.icon-svg-modal {
  z-index: 300;
  block-size: 60px;
  inline-size: 60px;
  --icon-svg-size: 38px;
  margin: 0;
  margin-block-start: 12px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.article__img-invert {
  filter: invert(0.7);
}

.article__img-blur {
  filter: blur(8px);
}

.article__img-saturate {
  filter: saturate(3) brightness(5) opacity(0.8);
}

.article__img-sepia {
  filter: sepia(1);
}

.article__img-hue-rotate {
  filter: hue-rotate(180deg);
}

.article__img-grayscale {
  filter: grayscale(2);
}

.article__img-difficult {
  filter: blur(1px) grayscale(1) brightness(3);
}

@media (width <= 376px) {

  .page {
    inline-size: 100%;
  }

  .header__logo {
    font-size: clamp(3.0625rem, 2.8204rem + 1.0329vw, 3.75rem);
    margin-block-start: 0;
  }

  .header__title {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    padding-block-end: 99px;
    margin-block-start: 20px;
  }

  .article__text {
    margin: 0;
  }

  .article__img-label {
    inset-block-start: 22px;
    inset-inline-end: 12px;
  }

  .button-save {
    display: flex;
    flex-direction: column;
    inline-size: 307px;
  }

  .modal[open] {
    row-gap: 25px;
    padding-block: 27px;
    padding-inline: 40px;
    
  }

  .modal__button {
    width: 257px;
  }

  .modal__title {
    padding-inline-start: 15px;
  }

  .icon-svg-modal {
    z-index: 300;
    inline-size: 100px;
    --icon-svg-size: 38px;
    margin: 0;
    margin-block-start: 12px;
  }

  .icon-svg {
    --icon-svg-size: 28px;
  }
 
}





